# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Django
db.sqlite3
staticfiles/*
!staticfiles/.gitkeep
media/

# Environment files
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
